<footer class="footer">
    <div id="footers" class="footers">
        <div id="footerTop" class="footerTops">  
            <div id="footerLeft" class="footerTop">
                <p class="footerLogo">IUAT</p>
            </div> 
            <div id="footerCenter" class="footerTop">
                <p id="linksHeading" class="footerHeading">Quick Links</p>
            </div>
            <div id="footerRight" class="footerTop">
                <p id="contactHeading" class="footerHeading">Contact Us</p>
            </div>             
        </div>
        <div id="footerBottom" class="footerBottom">
            <p class="footerText">@ 2025 IUAT</p>
        </div> 
    </div> 
</footer>

<script>
    $(document).ready(function () {   
        
    });
</script>