/* Current Color Pallette: [#081522, #bbc9d6, #ddc747, #cf4249, #0196c4, #dfe6eb, #c0ced8"] */

body {
  background: #dfe6eb;
  color: 081522;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

/*====================== Header Components Start ======================*/
.header {
  position: relative;
  top: 0;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 0;
  background-color: #081522;
  width: 100%;
  height: auto;
  z-index: 11;
}

.headers {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  border: none;
  background: none;
  box-shadow: none;
}

div.header {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
}

#headerLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

#headerCenter {
  flex: 0;
}

h1.logo {
  color: #c0ced8;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  margin: 0.6rem 0.2rem 0;
  font-weight: bold;
  transform: scale(1.1, 1);
  font-size: 3rem;
  cursor: pointer;
}

.headerButtons {
  margin: 0;
  padding: 0.25rem;
}

.button {
  background-color: rgba(255, 255, 255, 0);
  color: #c0ced8;
  letter-spacing: 0.4px;
  font-size: 19px;
  border: none;
  padding: 0.5rem 0.7rem;
  margin: 0.2rem 0.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

#headerRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.langDropdownItems {
  position: relative;
  margin-right: 1rem;
}

.langbutton {
  background-color: rgba(255, 255, 255, 0);
  color: #c0ced8;
  letter-spacing: 0.4px;
  font-size: 17px;
  border: none;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
}

.langbutton:hover, .langbutton:focus {
  background-color: rgba(0, 0, 0, 0.15);
}

.langDropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #dfe6eb;
  min-width: 9rem;
  min-height: 4rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownButton {
  background-color: rgba(255, 255, 255, 0);
  color: #202020;
  letter-spacing: 0.4px;
  font-size: 14px;
  border: none;
  padding: 0.5rem 0.7rem;
  margin: 0.2rem;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdownButton:hover {
  background-color: #c0ced8;
}

/* Show the dropdown menu */
.show {
  display: flex;
  flex-direction: column;
}

.stripe {
  width: 100%;
}

.stripe-1 {
  height: 8px;
  background-color: #ddc747;
}

.stripe-2 {
  height: 10px;
  background-color: #cf4249;
}

.stripe-3 {
  height: 12px;
  background-color: #0196c4;
}
/*====================== Header Components End ======================*/

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*====================== Banner Components ======================*/
.mainTopBanner {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #081522;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
}

#mainTopBanner {
  width: 100%;
  height: 43vw;
  max-height: 810px;
  min-width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center; /* Vertically centers the content */
  justify-content: center; /* Horizontally centers the content */
}

#mainTopBanner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../resources/IUAT-Home-Banner.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

h1.title {
  color: #dfe6eb;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  margin-top: 0.1em;
  font-weight: bold;
  font-size: min(7rem, 6vw);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

/*====================== Home About Components ======================*/
.aboutContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutElements {
  width: 66vw;
  min-width: 690px;
  max-width: 80rem;
  margin: 5rem 3rem;
  display: flex;
  flex-direction: row;
}

.homeAboutText {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.homeAboutIntroText {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #081522;
  
}

.homeAboutButton {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.aboutButton {
  background-color: #0f263e;
  color: #dfe6eb;
  font-size: 20px;
  border: none;
  padding: 0.9rem 1rem;
  cursor: pointer;
  line-height: normal;
}

.aboutButton:hover {
  background-color: #081522;
}

.buttonArrow{
  display: inline-block;
  transform: scale(1.2, 1.5);
}

/*====================== Home Events Components ======================*/
.eventsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f263e;
}

.eventsElements {
  width: 70%;
  min-width: 690px;
  max-width: 1340px;
  display: flex;
  flex-direction: column;
}

/*====================== About Main Text Components ======================*/
.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainElements {
  width: 70%;
  min-width: 690px;
  max-width: 1340px;
  margin: 0 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.aboutHeading1 {
  font-size: 24px;
  margin: 1.5rem 3rem;
}

.aboutText {
  text-align: left;
  margin: 0 3rem;
}

.aboutIntroText {
  margin: 0;
  font-size: 18px;
}

/*====================== Events Main Text Components ======================*/
.homeHeading1{
  font-size: 24px;
}

.IUAT2025IntroText {
  font-size: 18px;
}

/*====================== Events Itinerary Components ======================*/

.itineraryContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f263e;
}

.itineraryElements {
  width: 90vw;  
  max-width: 97rem;
  min-width: 68rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

#homeHeading1-2{
  color: #dfe6eb;
  margin: 1rem 0 0;
  padding: 0.5rem;
}

.itineraryTables{
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;  
}

.itineraryTable{
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#itineraryTable-1{
  background-color: #ddc747;
}

#itineraryTable-2{
  background-color: #cf4249;
}

#itineraryTable-3{
  background-color: #0196c4;
}

.homeHeading2{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0 0 0.25rem;  
}

table.tableItinerary{
  margin: 0;
  padding: 0;
}

tr.tableItinerary{
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-align: left;
}

th{
  padding: 0;
  margin: 0;
  font-weight: normal;
}

.thTime{
  
  display: flex;
  flex-direction: column;
  width: 5rem;
}

/* .thEvent{
} */

/*====================== Footer Components ======================*/
.footer {
  position: relative;
  bottom: 0;
  text-align: center;
  padding: 0;
  background-color: #081522;
  width: 100%;
  height: auto;
  z-index: 11;
}

.footers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  border: none;
  background: none;
  box-shadow: none;
}

.footerTops {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
}

.footerTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;  
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
  flex: 1;
}

.footerHeading{
  color: #c0ced8;
  font-size: 16px;
}

.footerLogo {
  color: #c0ced8;
  font-size: 20px;
}

.footerBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
  border-top: 2px solid #050d15;
  width: 90%
}

.footerText{
  color: #c0ced8;
  font-size: 12px;
  padding: 0.5rem 0;  
}

/*====================== Small Tablet Layout Modifications ======================*/
@media only screen and (max-width: 1185px) {
  .itineraryElements{
    flex-direction: column;
    width: 50vw;  
    max-width: none;
    min-width: 33rem;
  }
  
  .itineraryTables{
    flex-direction: column;
  }
}

/*====================== Mobile Layout Modifications ======================*/
@media only screen and (max-width: 768px) {
  h1.logo {
    font-size: 2rem;
  }

  h2 {
    font-size: 18px;
  }

  .button {
    padding: 0.5rem 0.3rem;
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 14px;
  }

  .header {
    padding: 0;
  }

  /* .headers {
  } */

  .headerButtons {
    margin: 0;
    padding: 0 0 0.3rem;
  }

  #headerLeft {
    flex: 1;
    min-width: 3rem;
  }

  #headerCenter {
    flex: 2;
  }

  #headerRight {
    flex: 1;
    min-width: 3rem;
  }

  .langbutton {
    font-size: 13px;
    padding: 0.6rem 0.8rem;
  }

  #logo {
    width: 40px;
    min-width: 40px;
    margin: 0.2rem 1rem;
  }

  .mainElements {
    min-width: 90%;
  }

  .introText {
    font-size: 16px;
  }

  #homeHeading1-2{
    font-size: 18px;
  }
  
  .homeHeading2{
    font-size: 16px;
  }
  
  .itineraryElements{
    width: 90vw;  
    max-width: 31rem;
    min-width: 18rem;
  }

  .itineraryTable{
    margin: 1rem 0;
    padding: 1rem;
  }

  tr.tableItinerary{
    font-size: 16px;
  }
}
