
body {
  background: #f6f6f6;
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/*====================== Header Components Start ======================*/
.header {
  position: relative;
  top: 0;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 0;
  background-image: linear-gradient(to right, #1a1a1a, #303030, #1a1a1a);
  width: 100%;
  height: auto;
  z-index: 11;
}

.headers {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  border: none;
  background: none;
  box-shadow: none;
}

div.header {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
}

#headerLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

#headerCenter {
  flex: 0;
}

h1.logo {
  color: #bbbbbb;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  margin: 0.6rem 0.2rem 0;
  font-weight: bold;
  transform: scale(1.2, 1);
  font-size: 3rem;
  cursor: pointer;
}

.headerButtons {
  margin: 0;
  padding: 0.25rem;
}

.button {
  background-color: rgba(255, 255, 255, 0);
  color: #bbbbbb;
  transform: scale(1.2, 1);
  letter-spacing: 0.4px;
  font-size: 17px;
  border: none;
  padding: 0.5rem 0.7rem;
  margin: 0.2rem 0.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

#headerRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.langDropdownItems {
  position: relative;
  margin-right: 1rem;
}

.langbutton {
  background-color: rgba(255, 255, 255, 0);
  color: #bbbbbb;
  letter-spacing: 0.4px;
  font-size: 17px;
  border: none;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
}

.langbutton:hover, .langbutton:focus {
  background-color: rgba(0, 0, 0, 0.15);
}

.langDropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f6f6f6;
  min-width: 9rem;
  min-height: 4rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownButton {
  background-color: rgba(255, 255, 255, 0);
  color: #202020;
  letter-spacing: 0.4px;
  font-size: 14px;
  border: none;
  padding: 0.5rem 0.7rem;
  margin: 0.2rem;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdownButton:hover {
  background-color: #dadada;
}

/* Show the dropdown menu */
.show {
  display: flex;
  flex-direction: column;
}

.stripe {
  width: 100%;
}

.stripe-1 {
  height: 8px;
  background-image: linear-gradient(to bottom, #ddc747, #ecd44c);
}

.stripe-2 {
  height: 10px;
  background-image: linear-gradient(to bottom, #cf4249, #e44951);
}

.stripe-3 {
  height: 12px;
  background-image: linear-gradient(to bottom, #0196c4, #00a4d4);
}
/*====================== Header Components End ======================*/

.mainContainer {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
}

/*====================== Banner Components ======================*/
.mainTopBanner {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: rgb(61, 61, 61);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
}

#mainTopBanner {
  width: 100%;
  height: 43vw;
  max-height: 810px;
  min-width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center; /* Vertically centers the content */
  justify-content: center; /* Horizontally centers the content */
}

#mainTopBanner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../resources/IUAT-Home-Banner.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

h1.title {
  color: #dddddd;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  margin-top: 0.1em;
  font-weight: bold;
  transform: scale(1.2, 1);
  font-size: min(7rem, 6vw);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

/*====================== Main Text Components ======================*/
.mainElements {
  width: 70%;
  min-width: 680px;
  max-width: 1340px;
}

.homeText {
  text-align: left;
  font-size: 18px;
  margin: 2rem 3rem;
}

/*====================== Mobile Layout Modifications ======================*/
@media only screen and (max-width: 768px) {
  h1 {
    margin: 0.1em 0;
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  p,
  ul {
    font-size: 13px;
  }

  .button {
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    font-size: 14px;
  }

  .header {
    padding: 0;
  }

  .headers {
    flex-flow: column wrap;
  }

  .headerButtons {
    margin: 0;
    padding: 0;
  }

  #headerLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0;
    padding-top: 0.4rem;
  }

  #headerCenter {
    flex: 1;
  }

  #headerRight {
    display: none;
  }

  #logo {
    width: 40px;
    min-width: 40px;
    margin: 0.2rem 1rem;
  }

  .main {
    padding-bottom: 2rem;
  }

  .mainElements {
    width: 80%;
    min-width: 320px;
    border-radius: 8px;
  }

  .homeText {
    text-align: left;
    margin: 1rem 1.1rem;
  }
}
